* {
  margin: 0px;
  padding: 0px;

}

html {
  background-color: #fefefe;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c";
  margin: 0px 16px;
}

ul {
  list-style: none;
}

.header {
  height: 64px;
}

.title {
  color: #26C6DA;
  /* font-family: "Nico Moji"; */
  font-family: "M PLUS Rounded 1c";
  text-align: center;
  padding: 20px;
  font-size: 2.4rem;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
}

.main-img {
  width: 100%;
}

.selector {
  display: flex;
}

.part-selector {
  background-color: #D1C4E9;
  border-radius: 5px;
  height: 40px;
  padding: 0 2px;
  margin-top: 16px;
}

.part-item {
  flex: 20px;
  height: 32px;
  border-radius: 6px;
  margin: 4px 2px auto;
}

.part-item.selected {
  background-color: #fefefe;
}

.part-item-name {
  display: block;
  color: #fefefe;
  font-size: 1.4em;
  text-align: center;
  padding: 5px 0;
}

.part-item-name.selected {
  color: #26C6DA;
}

.shape-selector {
  height: 80px;
  margin-top: 16px;
  justify-content: space-between;
}

.shape-item {
  border-radius: 5px;
  background-color: #E3F2FD;
  margin: 0;
  height: 80px;
  width: 24%;
}

.shape-item-img {
  display: block;
  height: 64px;
  margin: 8px auto;
}

@media (min-width: 960px) {
  html {
    margin: 0 20px;
  }
  .title {
    text-align: left;
    padding-left: 0px;
  }
  .body {
    display: flex;
    flex-direction: row;
  }
  .right-container {
    width: 50%;
    margin: 0 4%;
  }
  .main-img {
    max-width: 500px;
  }
}
