* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  background-color: #fefefe;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c";
  margin: 0px 16px;
}

ul {
  list-style: none;
}

input {
  display: none;
}

.header {
  height: 64px;
}

.text {
  text-align: center;
  color: #888;
}

.title {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.title img {
  width: 270px;
}

.body {
  display: flex;
  flex-direction: column;
}

.main-img {
  width: 100%;
}

.selectors {
  margin-bottom: 136px;
}

.selector {
  display: flex;
}

.part-selector {
  background-color: #9473DE;
  border-radius: 6px;
  height: 40px;
  padding: 0 2px;
  margin-top: 16px;
}

.part-item {
  flex: 1;
  height: 32px;
  margin: 4px 2px auto;
}

.part-item-label {
  display: block;
  border-radius: 5px;
  background-color: #9473DE;
  font-size: 1.4rem;
  line-height: 32px;
  color: #fefefe;
}

input[name="part-item"]:checked + label {
  color: #9473DE;
  background-color: #fefefe;
}

.selector-heading-container {
  border: solid 1px #9473DE;
  border-radius: 6px;
  margin-top: 16px;
  height: 32px;
}

.selector-heading {
  color: #9473DE;
  font-size: 1.4rem;
  line-height: 32px;
}

.shape-selector {
  height: 80px;
  margin-top: 16px;
  justify-content: space-between;
}

.shape-item {
  margin: 0;
  width: 24%;
}

.shape-item-label {
  display: block;
  height: 80px;
  border-radius: 6px;
  background-color: #fefefe;
}

/* modal */
.overlay {
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
}
.modal {
  z-index:2;
  width:100%;
  margin: 24px 16px;
}
.complete-img {
  width: 100%;
}
.close-btn {
  width: 100%;
  text-align: right;
  margin-bottom: 16px;
}
.close-btn i {
  color: #fefefe;
}

input[class="shape-item-input"]:checked + label {
  border: solid 3px #9473DE;
}

.shape-item-img {
  display: block;
  margin: auto;
  height: 100%;
}

.color-selector {
  margin-top: 16px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.color-item {
  margin: 4px auto;
  width: 48px;
  height: 48px;
}

.color-item-label {
  display: block;
  border-radius: 50%;
  height: 100%;
}

input[class="color-item-input"]:checked + label {
  border: solid 3px #9473DE;
}

.btn {
  /* position: fixed; */
  background-color: #9473DE;
  border-radius: 50px;
  height: 48px;
  width: 100%;
}

.complete-btn {
  position: fixed;
  bottom: 64px;
  margin-top: 24px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
  width: calc(100% - 32px);
}

.btn-text {
  color: #fefefe;
  font-size: 1.8rem;
  line-height: 48px;
}

.back-btn {
  margin-top: 24px;
  background-color: #fefefe;
}

.back-btn-text {
  color: #9473DE;
}

.caution {
  color: #fefefe;
  margin: 8px auto;
}

.right {
  margin-top: 16px;
  margin-bottom: 32px;
}

.pc-right {
  display: none;
}

@media (min-width: 960px) {
  html {
    margin: 0 20px;
  }
  .title {
    text-align: left;
    padding-left: 0px;
  }
  .body {
    display: flex;
    flex-direction: row;
  }
  .left-container {
    padding-top: 16px;
  }
  .right-container {
    width: 50%;
    margin: 0 4%;
  }
  .main-img {
    width: 500px;
  }
  .selectors {
    margin-bottom: 0px;
  }
  .color-item {
    width: 64px;
    height: 64px;
  }
  .complete-btn {
    position: static;
    width: 100%;
    margin-bottom: 24px;
    box-shadow: none;
  }
  .modal-parent {
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
  }
  .modal-btn {
    width: 30%;
    margin: 16px auto;
  }
  .complete-img {
    width: 30%;
  }
  .caution {
    display: none;
  }
  .right {
    display: none;
  }
  .pc-right {
    display: inline;
  }
}
