* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  background-color: #fefefe;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c";
  margin: 0px 16px;
}

ul {
  list-style: none;
}

input {
  display: none;
}

.header {
  height: 64px;
}

.title {
  color: #26C6DA;
  /* font-family: "Nico Moji"; */
  font-family: "M PLUS Rounded 1c";
  padding: 20px;
  font-size: 2.4rem;
  font-weight: bold;
}

.body {
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
}

.main-img {
  width: 100%;
}

.selectors {
  margin-bottom: 136px;
}

.selector {
  display: flex;
}

.part-selector {
  background-color: #BBA8DE;
  border-radius: 6px;
  height: 40px;
  padding: 0 2px;
  margin-top: 16px;
}

.part-item {
  flex: 1;
  height: 32px;
  margin: 4px 2px auto;
}

.part-item-label {
  display: block;
  border-radius: 5px;
  background-color: #BBA8DE;
  font-size: 1.4rem;
  line-height: 32px;
  color: #fefefe;
}

input[name="part-item"]:checked + label {
  color: #26C6DA;
  background-color: #fefefe;
}

.selector-heading-container {
  border: solid 1px #BBA8DE;
  border-radius: 6px;
  margin-top: 16px;
  height: 32px;
}

.selector-heading {
  color: #BBA8DE;
  font-size: 1.4rem;
  line-height: 32px;
}

.shape-selector {
  height: 80px;
  margin-top: 16px;
  justify-content: space-between;
}

.shape-item {
  margin: 0;
  width: 24%;
}

.shape-item-label {
  display: block;
  height: 80px;
  border-radius: 6px;
  background-color: #E3F2FD;
}

input[class="shape-item-input"]:checked + label {
  border: solid 3px #26C6DA;
}

.shape-item-img {
  display: block;
  margin: auto;
  height: 100%;
}

.color-selector {
  margin-top: 16px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.color-item {
  margin: 4px auto;
  width: 48px;
  height: 48px;
}

.color-item-label {
  display: block;
  border-radius: 50%;
  height: 100%;
}

input[class="color-item-input"]:checked + label {
  border: solid 3px #26C6DA;
}

.complete-btn {
  position: fixed;
  bottom: 48px;
  background-color: #26C6DA;
  border-radius: 50px;
  height: 48px;
  width: calc(100% - 32px);
  margin-top: 24px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

.complete-btn-text {
  color: #fefefe;
  font-size: 1.8rem;
  line-height: 48px;
}

@media (min-width: 960px) {
  html {
    margin: 0 20px;
  }
  .title {
    text-align: left;
    padding-left: 0px;
  }
  .body {
    display: flex;
    flex-direction: row;
  }
  .left-container {
    padding-top: 16px;
  }
  .right-container {
    width: 50%;
    margin: 0 4%;
  }
  .main-img {
    max-width: 500px;
  }
  .selectors {
    margin-bottom: 0px;
  }
  .color-item {
    width: 64px;
    height: 64px;
  }
  .complete-btn {
    position: static;
    width: 100%;
    margin-bottom: 24px;
    box-shadow: none;
  }
}
